* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow-y: auto;
}

.theme-red {
    background-color: rgba(150,0,0);
}

.page-grid-wrapper {
    
}