@font-face {
    font-family: inJob;
    src: url('./fonts/SpecialElite-Regular.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow-y: auto;
}

.theme-red {
  background-color: rgba(73,0,0);
}

.main-navigation-wrapper {
  display: flex;
  gap: 2px;
  align-items: flex-end;
}

.main-nav-body { 
  width: 95vw;
  height: 13vh;
  margin: 5rem auto;
  border-radius: 1px 25px 25px 25px;
  background: rgba(255,255,255);
  border: 1px solid black;
  position: relative;
}

.main-nav-tab-1::before {
    content:  '';
    position: absolute;
    top: -18px;
    width: 160px;
    height: 17px;
    left: -1px;
    background: rgba(255,255,255); 
    border-radius: 25px 25px 0 0;
    clip-path: path('M 0 0 L 160 0 C 185 2, 175 16, 200 18 L 0 50 z');
    border: 1px solid black;
    border-bottom: none;
    z-index: 4;
}

.main-nav-tab-1::after {
  content: '';
  position: absolute;
  left: 37px;
  width: 85px;
  height: 7px;
  top: -18px;
}

.main-nav-tab-2::before {
    content:  '';
    position: absolute;
    top: -18px;
    width: 160px;
    height: 17px;
    left: 130px;
    background: rgb(200,200,200, 0.3);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 25px 25px 0 0;
    clip-path: path('M 0 0 L 160 0 C 185 2, 175 16, 200 18 L 0 50 z');
    border: 1px solid black;
    border-bottom: none;
    z-index: 3;
}

.main-nav-tab-2::after {
  content: '';
  position: absolute;
  left: 165px;
  width: 85px;
  height: 7px;
  top: -18px;
}

.main-nav-tab-3::before {
    content:  '';
    position: absolute;
    top: -18px;
    width: 160px;
    height: 17px;
    left: 260px;
    background: rgb(200,200,200,0.3);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); 
    border-radius: 25px 25px 0 0;
    clip-path: path('M 0 0 L 160 0 C 185 2, 175 16, 200 18 L 0 50 z');
    border: 1px solid black;
    border-bottom: none;
    z-index: 2;
}

.main-nav-tab-3::after {
  content: '';
  position: absolute;
  left: 295px;
  width: 85px;
  height: 7px;
  top: -18px;
}

.main-nav-tab-4::before {
    content:  '';
    position: absolute;
    top: -18px;
    width: 160px;
    height: 17px;
    left: 390px;
    background: rgb(200,200,200, 0.3);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); 
    border-radius: 25px 25px 0 0;
    clip-path: path('M 0 0 L 160 0 C 185 2, 175 16, 200 18 L 0 50 z');
    border: 1px solid black;
    border-bottom: none;
}

.main-nav-tab-4::after {
  content: '';
  position: absolute;
  left: 427px;
  width: 85px;
  height: 7px;
  top: -18px;
}

h1 {
  letter-spacing: 3px;
  font-family: inJob;
  font-style: bold;
  font-size: 40px;
  padding-left: 10px;
  padding-top: 30px;
}

.socmed-logos-wrapper {
    position: relative; 
    z-index: 10; 
    display: flex;
    gap: 20px;
}

.github, .reddit, .youtube {
    position: relative;
    transition: opacity 0.3s; 
    cursor: pointer;
    fill: black;
}

.github:hover, .reddit:hover, .youtube:hover {
    opacity: 0.5;
    filter: drop-shadow(black); 
}