* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow-y: auto;
}

.theme-red {
    background-color: rgba(73,0,0);
}
.main-nav-tab-1 { 
  width: 95vw;
  height: 13vh;
  margin: 5rem auto;
  border-radius: 1px 25px 25px 25px;
  background: rgba(255,255,255);
  border: 1px solid black;
  position: relative;
}

.main-nav-tab-1::before {
    content:  '';
    position: absolute;
    top: -18px;
    width: 160px;
    height: 17px;
    left: -1px;
    background: rgba(255,255,255); 
    border-radius: 25px 25px 0 0;
    clip-path: path('M 0 0 L 160 0 C 185 2, 175 16, 200 18 L 0 50 z');
    border: 1px solid black;
    border-bottom: none;
}

.main-nav-tab-1::after {
  content: '';
  position: absolute;
  left: 37px;
  width: 85px;
  height: 7px;
  top: -18px;
  background: black;
  border-radius: 0 0 5px 5px;
}

.main-nav-tab-2::before {
    content:  '';
    position: absolute;
    top: -18px;
    width: 160px;
    height: 17px;
    left: 130px;
    background: rgba(128,128,128,0.1); 
    border-radius: 25px 25px 0 0;
    clip-path: path('M 0 0 L 160 0 C 185 2, 175 16, 200 18 L 0 50 z');
    border: 1px solid black;
    border-bottom: none;
    z-index:-1; 
}

.main-nav-tab-2::after {
  content: '';
  position: absolute;
  left: 170px;
  width: 85px;
  height: 7px;
  top: -18px;
  background: black;
  border-radius: 0 0 5px 5px;
}

.main-nav-tab-3::before {
    content:  '';
    position: absolute;
    top: -18px;
    width: 160px;
    height: 17px;
    left: 130px;
    background: rgba(128,128,128,0.7); 
    border-radius: 25px 25px 0 0;
    clip-path: path('M 0 0 L 160 0 C 185 2, 175 16, 200 18 L 0 50 z');
    border: 1px solid black;
    border-bottom: none;
    z-index:-1; 
}

.main-nav-tab-3::after {
  content: '';
  position: absolute;
  left: 170px;
  width: 85px;
  height: 7px;
  top: -18px;
  background: black;
  border-radius: 0 0 5px 5px;
}