@font-face {
    font-family: inJob;
    src: url('./fonts/SpecialElite-Regular.ttf');
}

@font-face {
    font-family: SFPro;
    src: url('./fonts/Montserrat-Medium.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.theme-red {
    background-color: rgb(73, 0, 0);
}

.main-navigation-wrapper {
    display: flex;
    justify-content: center;
}

.main-nav-body { 
    width: 95vw;
    height: 13vh;
    margin: 5rem auto;
    border-radius: 0 25px 25px 25px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid white;
    position: relative;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}

.main-nav-tab-1::before {
    content:  '';
    position: absolute;
    top: -18px;
    width: 300px;
    height: 17px;
    left: -1px;
    background: rgba(255,255,255); 
    border-radius: 25px 25px 0 0;
    clip-path: path('M 0 0 L 160 0 C 185 2, 175 16, 200 18 L 0 50 z');
    filter: drop-shadow(0px -2px 2px rgba(0,0,0,0.2));
    z-index: 4;
}

.main-nav-tab-1::after {
  content: '';
  position: absolute;
  left: 37px;
  width: 85px;
  height: 7px;
  top: -18px;
}

.main-nav-tab-2::before {
    content:  '';
    position: absolute;
    top: -18px;
    width: 300px;
    height: 17px;
    left: 130px;
    background: rgb(200,200,200, 0.3);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 25px 25px 0 0;
    clip-path: path('M 0 0 L 160 0 C 185 2, 175 16, 200 18 L 0 50 z');
    filter: drop-shadow(0px -2px 2px rgba(0,0,0,0.2));
    z-index: 3;
}

.main-nav-tab-2::after {
  content: '';
  position: absolute;
  left: 165px;
  width: 85px;
  height: 7px;
  top: -18px;
}

.main-nav-tab-3::before {
    content:  '';
    position: absolute;
    top: -18px;
    width: 300px;
    height: 17px;
    left: 260px;
    background: rgb(200,200,200,0.3);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); 
    border-radius: 25px 25px 0 0;
    clip-path: path('M 0 0 L 160 0 C 185 2, 175 16, 200 18 L 0 50 z');
    filter: drop-shadow(0px -2px 2px rgba(0,0,0,0.2));
    z-index: 2;
}

.main-nav-tab-3::after {
  content: '';
  position: absolute;
  left: 295px;
  width: 85px;
  height: 7px;
  top: -18px;
}

.main-nav-tab-4::before {
    content:  '';
    position: absolute;
    top: -18px;
    width: 300px;
    height: 17px;
    left: 390px;
    background: rgb(200,200,200, 0.3);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); 
    border-radius: 25px 25px 0 0;
    clip-path: path('M 0 0 L 160 0 C 185 2, 175 16, 200 18 L 0 50 z');
    filter: drop-shadow(0px -2px 2px rgba(0,0,0,0.2));
}

.main-nav-tab-4::after {
  content: '';
  position: absolute;
  left: 427px;
  width: 85px;
  height: 7px;
  top: -18px;
}

.main-navigation__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 100%;
    position: relative;
}

.title-group {
    display: flex;
    align-items: baseline; 
    gap: 3px; 
} 

h1 {
    padding-left: -30px;
    padding-top: 10px;
    letter-spacing: 3px;
    font-family: inJob, serif;
    font-weight: bold;
    font-size: 40px;
}

h2 {  
  letter-spacing: 3px;
  font-family: SFPro;
  font-size: 20px;
  font-weight: normal;
}

.socials-logos-wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
}

.github {
    width: 50px;
    height: 60px;
    transition: all 0.3s ease;
    cursor: pointer;
    fill: black;
}

.reddit {
    width: 50px;
    height: 40px;
    transition: all 0.3s ease;
    cursor: pointer;
    fill: black;
}

.youtube {
    width: 50px;
    height: 47px;
    transition: all 0.3s ease;
    cursor: pointer;
    fill: black;
}

.youtube {
    fill: black; 
}

.github:hover, .reddit:hover, .youtube:hover {
    opacity: 0.5;
    transform: translateY(-3px);
}